@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fontsource/bebas-neue';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
}


body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #121212;
  overflow: hidden;
}

body::after {
  content: '';
  display: block;
  clear: both;
}


.layout {
  display: flex;
  height: 100%;
}

.header {
  display: flex;
  position: relative;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  padding: 12px 16px;
  border-bottom: 1px solid #2a2e38;
  z-index: 20;
  width: 100%;
  transition: all 0.3s ease;
}

.sidebar-search-input {
  background-color: rgba(42, 46, 56, 0.3);
  border-radius: 20px;
  padding: 8px 12px;
  color: white;
  font-size: 14px;
  width: 100%;
  border: none;
}

.sidebar-search-input:focus {
  outline: none;
  background-color: rgba(42, 46, 56, 0.5);
}

.sidebar-search-input::placeholder {
  color: #aaa;
}

.sidebar-search-input:focus {
  outline: none;
  background-color: rgba(42, 46, 56, 0.5);
}

.search-bar::placeholder {
  color: #aaa;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  position: relative;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo-part-1 {
  background: linear-gradient(to bottom, #1ffdb0, #1fae9a);
  -webkit-background-clip: text;
  color: transparent;
}

.logo-part-2 {
  background: linear-gradient(to bottom, #ffffff, #e3e3e3);
  -webkit-background-clip: text;
  color: transparent;
}

.sidebar-toggle-btn {
  font-size: 1.5rem;
  color: #1ffdb0;
  cursor: pointer;
}

.live-bets {
  padding: 16px;
  background: #1f2937;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.filters {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 16px;
}

.filters button {
  padding: 8px 16px;
  background: rgba(39, 63, 97, 0.24);
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.filters button:hover {
  background: #1ffdb0;
  color: #121212;
}

.bet-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bet-item {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  padding: 12px;
  border-radius: 4px;
  background: rgba(39, 63, 97, 0.24);
  color: white;
  font-family: 'Rubik', sans-serif;
  transition: background-color 0.3s ease;
}

.bet-item:nth-child(odd) {
  background: rgba(39, 63, 97, 0.3);
}

.bet-item:hover {
  background: #1ffdb0;
  color: #121212;
  transform: translateY(-1px);
}

.bet-item span {
  text-align: center;
  font-size: 14px;
}

.bet-item span:first-child {
  font-weight: bold;
}

.filters button.active {
  background: #1ffdb0;
  color: #121212;
}

.logo {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2rem;
  color: #1ffdb0;
}

.header-right {
  display: flex;
  gap: 10px;
}


.login-btn, .register-btn, .chat-toggle-btn {
  background-color: #1a1a1a;
  color: #1ffdb0;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.sidebar {
  background-color: rgb(19, 26, 34);
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  padding: 20px;
  z-index: 10;
  transition: left 0.3s ease-in-out;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.sidebar.expanded {
  transform: translateX(250px);
}

.sidebar-btn {
  background: none;
  color: #1ffdb0;
  padding: 0 15px;
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar-btn span {
  margin-left: 10px;
}


.group-title {
  font-size: 16px;
  font-weight: 600;
  color: rgba(134, 156, 189, 0.9);
  margin-top: 10px;
  text-transform: uppercase;
  padding-left: 10px;
  background-color: rgb(19, 26, 34);
  border-radius: 5px;
  padding: 6px 12px;
}

.nav-group {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  background-color: rgba(34, 42, 56, 0.85);
  border-radius: 8px;
  padding: 12px;
}

.nav-item {
  padding: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-item:hover {
  background-color: rgba(42, 46, 56, 0.9);
  color: #1ffdb0;
}

.nav-item svg {
  margin-right: 10px;
}

.main-content {
  flex: 1;
  background-color: #181818;
  overflow-y: auto;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  height: calc(100vh);
}

footer {
    position: relative;
    background-color: #121212;
    padding: 12px 0;
    text-align: center;
    height: 100%;
    color: #1ffdb0;
}

.main-content.shrink-left {
  margin-left: 250px;
}

.main-content.shrink-right {
  margin-right: 300px;
}

.main-content::-webkit-scrollbar {
    width: 8px;
}

.main-content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
}

.home-view {
  font-family: 'Rubik', sans-serif;
  padding: 1.5vh;
}


.carousel-container {
  position: relative;
  max-width: 600px;
  margin: auto;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-navigation {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.prev-button,
.next-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
}

.prev-button:hover,
.next-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
  cursor: pointer;
}

.dot.active {
  background-color: rgba(255, 255, 255, 1);
}

.dot:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.games-title {
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
}

.game-tiles {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.game-tile img {
  width: 100%;
  height: auto;
}

.game-tile span {
  text-align: center;
  display: block;
  margin-top: 10px;
  color: white;
}

.game-tiles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.game-tiles {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.game-tile {
  position: relative;
  width: 145px;
  height: 192px;
  overflow: hidden;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.game-tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

.game-tile:hover img {
  opacity: 0.5;
}

.game-tile:hover {
  background-color: rgba(31, 253, 176, 0.6);
}

.game-tile::after {
  content: '\25B6';
  font-size: 36px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.game-tile:hover::after {
  opacity: 1;
}



.chat {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: rgb(19, 26, 34);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 15;
  display: flex;
  flex-direction: column;
}

.resume-autoscroll {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 8px 16px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  z-index: 20;
}

.resume-autoscroll:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.chat.expanded {
  transform: translateX(0);
}

.chat-header, .chat-footer {
  background-color: rgb(19, 26, 34);
  color: #1ffdb0;
  padding: 12px 16px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.online-count {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.rain-btn {
  background-color: #1ffdb0;
  color: black;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  border: none;
  transition: all 0.3s ease;
}

.rain-btn:hover {
  transform: scale(1.03);
}

.chat-messages {
  flex-grow: 1;
  padding: 10px 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.group {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  background-color: rgba(39, 63, 97, 0.24);
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 12px;
}

.message {
    background-color: rgba(129, 142, 157, 0.06);
    display: block;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    border-radius: 8px;
    max-width: 100%;
    word-wrap: break-word;
    margin-bottom: 10px;
    width: auto;
    animation: slideInFromBottom 0.3s ease-out;
  }

.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline;
}

.username {
  color: #1ffdb0;
  font-weight: bold;
  display: inline;
  margin-left: 5px;
  white-space: nowrap;
  font-size: 12.5px;
}

.message-content {
    display: block;
    align-items: center;
}

.message-text {
  color: white;
  font-size: 12.5px;
  max-width: 100%;
  word-wrap: break-word;
  white-space: normal;
}

.chat-input {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  background-color: rgb(19, 26, 34);
  border-top: 1px solid #2a2e38;
}

.chat-input input {
  width: 80%;
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: #2a2e38;
  color: white;
  font-size: 12.5px;
}

.chat-input button {
  background-color: #1ffdb0;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.rain-banner {
  background-color: #1ffdb0;
  color: black;
  padding: 12px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  border-radius: 8px;
  margin: 15px;
}

.sidebar, .sidebar-btn, .sidebar-btn span, .group-title, .nav-item, .toggle-btn {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
  

.sidebar {
    background-color: rgb(19, 26, 34);
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    padding: 10px;
    z-index: 10;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  .sidebar.expanded {
    transform: translateX(0);
  }

.sidebar-btn-container {
  width: 100%;
}

.sidebar-btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  font-size: 18px;
  background-color: rgba(39, 63, 97, 0.24);
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar-btn:hover {
  background-color: #1ffdb0;
  color: #131a22;
}

.section-title {
  font-weight: 600;
  font-size: 16px;
  color: #1ffdb0;
  margin: 8px 16px;
  text-transform: uppercase;
}

.group-container {
  width: 100%;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 0 0 0;
  overflow: hidden;
}

.group-content {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.group-content {
  transition: max-height 0.5s ease-in-out, padding 0.3s ease;
  
}

.group-content.expanded {
  max-height: 1000px
}

.group-content.hidden {
  height: 0;
  opacity: 0;
  padding: 0 1rem;
}

.toggle-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 16px;
  font-size: 18px;
  background-color: rgba(39, 63, 97, 0.24);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.toggle-btn:hover {
  background-color: #1ffdb0;
  color: #131a22;
}

.icon {
  transition: transform 0.3s ease-in-out;
}

.icon.collapsed {
  transform: rotate(0deg);
}

.new-message-banner {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 8px 16px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    z-index: 20;
  }
  
  .new-message-banner:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  

.icon.expanded {
  transform: rotate(180deg);
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}




@keyframes slideInFromBottom {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .message {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(129, 142, 157, 0.06);
    padding: 10px 15px;
    border-radius: 8px;
    max-width: 100%;
    word-wrap: break-word;
    margin-bottom: 10px;
    width: auto;
    animation: slideInFromBottom 0.3s ease-out;
  }
  
  .game-tile:hover {
  background-color: rgba(31, 253, 176, 0.6);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.game-tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.game-tile:hover img {
  opacity: 0.7;
}

.games-title {
  font-family: 'Bebas Neue', sans-serif;
  color: #fff;
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.carousel-navigation .prev-button,
.carousel-navigation .next-button {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 12px;
  font-size: 28px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.carousel-navigation .prev-button:hover,
.carousel-navigation .next-button:hover {
  background-color: rgba(0, 0, 0, 0.9);
  transform: scale(1.1);
}

.sidebar {
  background-color: rgb(19, 26, 34);
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  padding: 20px;
  z-index: 10;
  transition: transform 0.4s ease-in-out;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.sidebar.expanded {
  transform: translateX(250px);
}

.bg-blue-500 {
  background-color: #3b82f6;
}

.bg-gray-700 {
  background-color: #374151;
}

.bg-gray-800 {
  background-color: #2d3748;
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.text-transparent {
  color: transparent;
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #000000;
}

.text-green-400 {
  color: #4ade80;
}

.text-red-400 {
  color: #f87171;
}

.text-xl {
  font-size: 1.25rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-6 {
  padding: 1.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.shadow-xl {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.cursor-pointer {
  cursor: pointer;
}

.hover\:bg-opacity-80:hover {
  background-opacity: 0.8;
}


.hover\:bg-blue-500:hover {
  background-color: #3b82f6;
}

.hover\:bg-gray-700:hover {
  background-color: #374151;
}

.transition-all {
  transition: all 0.3s ease-in-out;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: #1ffdb0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
/* IDK. i need to make unique classes for buttons. this is an issue. lol */
button:hover {
  box-shadow: 0 0 10px rgba(31, 253, 176, 0.8);
}

button.hit:hover {
  border: 2px solid #ff5733;
  box-shadow: 0 0 10px rgba(255, 87, 51, 0.8);
}

button.split:hover {
  border: 2px solid #f1c40f;
  box-shadow: 0 0 10px rgba(241, 196, 15, 0.8);
}

button.double:hover {
  border: 2px solid #3498db;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.8);
}

button.stand:hover {
  border: 2px solid #e74c3c;
  box-shadow: 0 0 10px rgba(231, 76, 60, 0.8);
}

.slick-prev,
.slick-next {
  display: none !important;
}


